<div class="new-status-post">
    <div class="status-input">
        <app-avatar></app-avatar>
        <button (click)="onCreatePost()">What's on your mind, #Username</button>
    </div>
    <hr>
    <div class="status-options">
        <button class="">
            <em class="live-video material-icons">videocam</em>
            <span>Live Video</span>
        </button>
        <button class="">
            <em class="photo-video material-icons">photo_library</em>
            <span>Photo/Video</span>
        </button>
        <button class="">
            <em class="feeling material-icons">mood</em>
            <span>Feeling/Activity</span>
        </button>
    </div>
</div>